<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="wannachat is a online chat application.">
        <meta name="author" content="wannachat.org" />
        <meta name="keywords" content="wannachat, online chat application, random chat">
        <link rel="canonical" href="{{ request.build_absolute_uri }}">
        <link rel="alternate" href="{{ request.build_absolute_uri }}" hreflang="x-default" />
        <title>Home | Wannachat</title>

        <link rel="shortcut icon" href="assets/images/fabicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'home/assets/style.css' %}" />
        {% block extracss %}
        {% endblock extracss %}
    </head>
    <body>
        <section>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-dark header-nav zigzag-bottom">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'home/assets/images/logo2-removebg-preview.png' %}" style="height: 110px; width: 150px;" alt="" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link custom-padding" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link custom-padding" href="{% url 'find_friend' %}">Find Friends</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link custom-padding" href="{% url 'chat_rules' %}">Chat Rules</a>
                            </li>
                        </ul>
                        {% if request.user.is_authenticated %}
                        <div class="nav-item no-padding">
                            <a class="nav-link right-side" href="{% url 'customauth:user_login' %}">{{ request.user.username }}</a>
                        </div>
                        <div class="nav-item no-padding">
                            <a class="nav-link right-side" href="{% url 'customauth:user_logout' %}">Logout</a>
                        </div>
                        {% else %}
                        <div class="nav-item no-padding">
                            <a class="nav-link right-side" href="{% url 'customauth:user_login' %}">Login</a>
                        </div>
                        <div class="nav-item no-padding">
                            <a class="nav-link right-side" href="{% url 'customauth:user_signup' %}">Register</a>
                        </div>
                        {% endif %}
                        <li class="nav-item dropdown no-padding">
                            <select class="nav-link dropdown-toggle right-side country" id="country" name="country" href="#" role="button" data-toggle="dropdown" aria-expanded="false" style="background-color: #17a2b8 !important; border: none;">
                                country
                                <div class="dropdown-menu">
                                    {% for country in country_list %}
                                        <option class="dropdown-item" {% if selected_country.name == country.name %}selected{% endif %}>{{ country.name }}</option>
                                    {% endfor %}
                                </div>
                            </select>
                        </li>
                    </div>
                </nav>
                <!--  -->
                <div class="chat-room mt-4 pt-4">
                    <div class="row">
                        <div class="col-lg-4 col-md-5 side-menu zigzag-right">
                            <div class="col">
                                <h2>Welcome to WannaChat.org!</h2>
                                <p class="mt-4">
                                    If you are looking for Free Online Chatrooms or to Random Video Chat with strangers look no further! This is an awesome community that allows you to start or join a free online chat room with strangers,
                                    private message, and network with like-minded people who share the same hobbies and interests as you. If you make a friend, add them to your buddy list to keep in touch in the future! Our Free Random
                                    Video Chat is the perfect Omegle alternative that lets you meet new interesting people in real-time, based on similar interests!
                                </p>
                                <h5><b>Class room rules</b></h5>
                                <ul>
                                    <li>You are 18+ years old</li>
                                    <li>Don't spam</li>
                                    <li>Don't use bad language</li>
                                    <li>Don't share personal information</li>
                                    <li>Don't share links to other websites</li>
                                </ul>
                            </div>
                            <div class="another-area">
                                <ul>
                                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                                    <li><a href="{% url 'tos' %}">Terms of Service</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                    <li><a href="{% url 'safety_tips' %}">Safety Tips</a></li>
                                    <li><a href="{% static 'home/pdf/privacy-policy.pdf' %}">Privacy Policy</a></li>
                                    <li><a href="{% static 'home/pdf/cookie-policy.pdf' %}">Cookie Policy</a></li>
                                    <li><a href="#">Cookie Settings</a></li>
                                </ul>
                            </div>
                        </div>
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
            <footer>
                <p>Copyright © WannaChat 2022</p>
            </footer>
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="{% static 'home/assets/app.js' %}"></script>
        <script>
            $("#country").change(function () {
                var countryName = $('#country').find(":selected").val();
                $.ajax({
                    url: '/change-country/',
                    method: "GET",
                    data: {
                        'country': countryName,
                    },
                    success: function (data) {
                        console.log(data);
                        window.location.reload();
                    }
                });
            });
        </script>
    </body>
</html>
