{% extends 'home/base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'home/assets/faq.css' %}">
{% endblock extracss %}


{% block content %}
<div class="col-md-7 col-lg-8">
    <div class="col-md-6 offset-md-3">
       <div class="faq-title text-center pb-3">
          <h2 style="color: black;">FAQ</h2>
       </div>
    </div>
    <div>
       <div class="faq" id="accordion">
          <div class="card">
             <div class="card-header" id="faqHeading-1">
                <div class="mb-0">
                   <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                      <span class="badge">1</span>How Can I use Wanna Chat?
                   </h5>
                </div>
             </div>
             <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                <div class="card-body">
                   <p>
                      Visit the Wanna Chat site, then click "Start Chat" after filling out the form. The option of becoming a VIP member is also available. To sign up as a VIP member, visit https://www.Wanna Chat.us/user/signup form. 
                   </p>
                </div>
             </div>
          </div>
          <div class="card">
             <div class="card-header" id="faqHeading-2">
                <div class="mb-0">
                   <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                      <span class="badge">2</span> Sending a message to an online user, how is it done?
                   </h5>
                </div>
             </div>
             <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                <div class="card-body">
                   <p>Following your login to Wanna Chat chat, you will see a list of everyone who is now online on your left. Click the name of the person you wish to talk with to bring up the chat window, where you may type your message before clicking the "send" button to send it.</p>
                </div>
             </div>
          </div>
          <div class="card">
             <div class="card-header" id="faqHeading-3">
                <div class="mb-0">
                   <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                      <span class="badge">3</span>How safe is Wanna Chat?
                   </h5>
                </div>
             </div>
             <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                <div class="card-body">
                   <p>You should always check the safety advice page before you take any action after joining Wanna Chat. To ensure safety, the Wanna Chat Development Team and Administration have taken extra precautions by having the option to restrict certain nations and IPs with a poor reputation.</p>
                </div>
             </div>
          </div>
          <div class="card">
             <div class="card-header" id="faqHeading-4">
                <div class="mb-0">
                   <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                      <span class="badge">4</span> If I have a problem, how can I contact your back office support?
                   </h5>
                </div>
             </div>
             <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                <div class="card-body">
                   <p>When you have a problem, you may definitely visit our contact page and get in touch with us. We are here to listen to you and to assist you in solving any issue. Our contact page may be reached directly at https://www.Wanna Chat.us/user/contactus.</p>
                </div>
             </div>
          </div>
          <div class="card">
             <div class="card-header" id="faqHeading-5">
                <div class="mb-0">
                   <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                      <span class="badge">5</span> What kind of individuals are here in Wanna Chat?
                   </h5>
                </div>
             </div>
             <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                <div class="card-body">
                   <p> Men and women from all over the world may be found and encountered who want to build relationships, meet new people, or discover that special someone.</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock content %}