* {
	margin: 0;
	padding: 0;
	text-transform: capitalize;
	font-family: "Labrada", serif;
}

body {
	height: 500px;
	width: 98%;
}

.login {
	margin-top: 2.2rem;
	width: 50%;
	height: 3rem;
	text-transform: capitalize;
	font-size: 0.9rem;
	font-weight: 700;
	align-items: center;
	font-family: "Roboto", sans-serif;
	color: rgb(220, 229, 247);
	border-radius: 10px;
	border: none;
	cursor: pointer;
}