<!DOCTYPE html>
<html lang="en">
   {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>chat rules</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <!-- <link rel="stylesheet" href="assets/rules.css"> -->
        <link rel="stylesheet" href="{% static 'home/assets/faq.css' %}" />
    </head>
    <body>
        <section class="faq-section">
            <div class="container">
                <div class="row">
                    <!-- ***** FAQ Start ***** -->
                    <div class="col-md-6 offset-md-3">
                        <div class="faq-title text-center pb-3">
                            <h2>Rulebooks and Guidelines</h2>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <div class="faq" id="accordion">
                            <div class="card">
                                <div class="card-header" id="faqHeading-1">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                            <span class="badge">1</span>
                                            Upon registration to
                                        </h5>
                                    </div>
                                </div>
                                <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>
                                            “<a href="wannachat.org" class="ewlink"><i>wannachat.org</i></a>” you agree to following these rules/guidelines. Staff can and will use their own judgement when deciding on which
                                            warning/punishment is best suited to any given user.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faqHeading-2">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2"><span class="badge">2</span> General Rulebooks</h5>
                                    </div>
                                </div>
                                <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>
                                            Following your login to Wanna Chat chat, you will see a list of everyone who is now online on your left. Click the name of the person you wish to talk with to bring up the chat window, where you
                                            may type your message before clicking the "send" button to send it. You are not allowed to;<br />
                                            • Continually and aggressively insult or stalk other users. <br />
                                            • Post personally identifiable information (i.e. name, address, email, phone number, etc.), without prior consent. <br />
                                            • Like or post boost. <br />
                                            • Derail a thread's topic. <br />
                                            • Post links to inappropriate sites. <br />
                                            • Post spam (i.e. +1, rickrolls, repeated content) or Re-post Closed, Modified, Deleted Content. <br />
                                            • Triple post. <br />
                                            • Abuse glitches
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faqHeading-3">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3"><span class="badge">3</span>Forum Guidelines</h5>
                                    </div>
                                </div>
                                <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>
                                            Y You are not allowed to openly argue with a moderator about punishments. Contact the Moderator via a private message. These situations should be dealt with privately.
                                            <br />
                                            <br />
                                            <b>II. Forum Accounts<br /></b>
                                            You are not allowed to share your account. Forum accounts are intended for the use by one person. You are not allowed to create backup accounts for the purpose of posting in our debate forums, in
                                            the event of your main being banned.
                                            <br />
                                            <br />
                                            <b>III. Remain on Topic<br /></b>
                                            Threads should remain on the topic that they are discussing, they should not be discussing other topics. A new thread should be made for a new discussion. Please do understand we are lenient upon
                                            this rule however if the topics gets majorly derailed we will take action.
                                            <br />
                                            <br />
                                            <b>IV. Inappropriate content<br /></b>
                                            Threads containing pornography, illegal content will be removed and the user banned. Racial, sexual, or any other form of discrimination is currently not tolerated. We are lenient depending upon
                                            the mannerism of discussion.
                                            <br />
                                            <br />
                                            <b>V. Flame or Provoke<br /></b>
                                            Do not continually and aggressively insult or flame other members of the forum. Similarly, do not post with the intention of provoking a reaction from fellow members. This includes encouraging
                                            flame wars.
                                            <br />
                                            <br />
                                            <b>V. Topic Setting<br /></b>
                                            The opening post of a thread sets the topic and the tone of the discussion. It should contain a member's opinions or questions with sufficient elaboration to establish a foundation for respectful
                                            discussion and debate. Images, links, quotations, etc., should be used to support a member's opinion, not to replace it.
                                            <br />
                                            <br />
                                            <b>VI. Topic Duplication<br /></b>
                                            Threads should not be posted in the wrong forum, or be duplicates of other threads and/or topics (creating multiple threads with fundamentally the same topic is not allowed, unless otherwise
                                            stated by a staff member).
                                            <br />
                                            <br />
                                            <b>VII. Private Messaging<br /></b>
                                            Publicly post or otherwise share PMs with other users unless you have the expressed permission of the sender to do so. Private Messages are intended to be just that - private.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faqHeading-4">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4"><span class="badge">4</span> Chat Guidelines</h5>
                                    </div>
                                </div>
                                <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>
                                            <b>I. Arguments with Moderators<br /></b>
                                            You are not allowed to openly argue with a moderator about punishments. Contact the Moderator via a private message. These situations should be dealt with privately.
                                            <br />
                                            <br />
                                            <b>II. Doxing<br /></b>
                                            You are not allowed to post personally identifiable information (i.e. name, address, email, phone number, etc.), without prior consent.
                                            <br />
                                            <br />
                                            <b>III. Spamming<br /></b>
                                            You are not allowed to post similar or the same messages repeatidly in Nasclub Chat. We're currently cracking down on spamming, doing so will result in a one month ban.
                                            <br />
                                            <br />
                                            <b>IV. Inappropriate content<br /></b>
                                            You are not allowed to post links containing pornography, illegal content. Racial, sexual, or any other form of discrimination is currently not tolerated.
                                            <br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faqHeading-5">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                                            <span class="badge">5</span> What kind of individuals are here in Wanna Chat?
                                        </h5>
                                    </div>
                                </div>
                                <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Men and women from all over the world may be found and encountered who want to build relationships, meet new people, or discover that special someone.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <div class="rules">
         <ul>
         
         
           <li>
             <input type="checkbox" checked>
             <i></i>
             <h2></h2>
             <p>
           </li>
         </ul>
         </div> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
