<!DOCTYPE html>
<html lang="en">
   {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Safety</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" />
        <link rel="stylesheet" href="{% static 'home/assets/safety.css' %}" />
    </head>
    <body>
        <div class="container">
            <h3>Safety</h3>
            <hr />
            <p>
                Recommended General Safety measures and Parental Safety Controls <br />
                ChatIB™ users must be at least 18 years of age to use our site and is not to be used by users under 18 years of age for any reason whatsoever.
            </p>
            <h3>General Safety Measures</h3>
            <p>Here are a few safety tips that will help to prevent someone from compromising your profile. Please take a moment to review them. Thanks!.</p>
            <h5>Phishing</h5>
            <p>Here are a few safety tips that will help to prevent someone from compromising your profile. Please take a moment to review them. Thanks!.</p>
            <h5>Passwords</h5>
            <p>
                For registered users choosing a strong password is very important. There are programs that can guess your password by trial and error (i.e. a1234) or some other commonly spoken word. Random numbers & letters are the best way
                to keep your passwords secure.
            </p>
            <h5>Private Messaging.</h5>
            <p>
                Be cautious of people sending you private messages you asking you to click a link, may ask you for money, or trying to get your personal information. If your profile has been compromised or you know of someone who is
                spreading bad links, please contact us ASAP.
            </p>
            <h5>Passwords</h5>
            <p>
                For registered users choosing a strong password is very important. There are programs that can guess your password by trial and error (i.e. a1234) or some other commonly spoken word. Random numbers & letters are the best way
                to keep your passwords secure.
            </p>
            <h5>Meeting and Dating people</h5>
            <p>
                Do not meet anyone in person who you have met online from Chatib. You might think you've met someone who is completely trustworthy, but you can't be positive they are who they say they are. Always alert your parents before
                making decisions about meeting people from the internet and be sure they come with you and that it is in a public setting. Don't let yourself be lured by senseless promises such as a model agent wanting to make you a model
                or promises of money, gifts, and the like as a reward for photos or a meeting.
            </p>
            <br />
            <p>Use a nickname online that doesn't include your real name and isn't aimed to attract sexual attention</p>
            <h5>Parents and Guardians</h5>
            <p>
                Chatib is limited to people older than 18 , however given the immense volume of visitors we’re unable to verify user’s age , making it parents responsibility to ensure that children below the minimum age will not use the
                site. It is ultimately the responsibility of parents to make sure their kids do not have access to these types of websites which are un suitable for users under age . Please use one of the parental control products below to
                block adult websites and help keep your kids safe.
            </p>
            <p>
                We’ve found the following article useful for finding parental control tools http://www.techradar.com/news/software/best-free-parental-control-software-9-programs-to-keep-your-kids-safe-1140315 We haven’t tested those
                software ourselves, this is only brought to you as a service and wer’e not providing any recommendations on a specific software.
            </p>
            <p>
                Microsoft Windows <br />
                Built in Controls - Microsoft Windows has built in parental controls that are free to use. To access these controls go to the Start menu and choose "Control Panel" then "User Accounts and Safety". Next click "Set up parental
                controls for any user". You may find additional info here https://support.microsoft.com/en-us/help/12416/microsoft-account-family-settings.
            </p>
            <p>
                Mac OS X <br />
                Built in Controls - Mac OS X has built in parental controls that are free to use. To access these controls go to the Apple menu and choose "System Preferences" then "Parental Controls". You may find additional info here
                https://support.apple.com/en-us/HT201304.
            </p>
            <p>
                Android <br />
                Built in Controls - Android has built in parental controls that are free to use. To access these controls go to the Settings menu and choose "Users" then "Parental Controls". You may find additional info here
                https://support.google.com/android/answer/6002845?hl=en.
            </p>
            <p>
                iOS <br />
                Built in Controls - iOS has built in parental controls that are free to use. To access these controls go to the Settings menu and choose "General" then "Restrictions". You may find additional info here
                https://support.apple.com/en-us/HT201304.
            </p>
            <h5>Parental Tips</h5>
            <p>
                Chat rooms are a place where people can anonymously discuss topics and chat with other members of a website. It is your responsibility as a parent to teach your kids to not lie about their age and gain access to the site
                through such means. Because of the anonymity of the internet, it is important to learn about and familiarize yourself with it if you haven't already.
            </p>
            <p>
                As with any environment your children immerse themselves into, it is always a good idea to know as much as you can about it As a parent or guardian, it is also your responsibility to talk to your children about the dangers
                of life and also the benefits and risks of the internet. Below are a few topics to discuss with them: Talk to your children about the dangers of giving out personal information online, even if they are only small things.
                Malicious links and computer viruses.
            </p>
            <p>
                Adults that are pretending to be under aged. Pedophiles and harmful individuals. Times when your children are online so you can monitor their activity. Some additional info Place computers in a 'family room' rather than a
                bedroom. This helps with monitoring online activity and potential pedophiles will be put off by background activity if your teen uses messaging services for voice conversations. Chatib encourages you to do an online research
                on internet safety for children.
            </p>
            <p>
                There are many websites that give great information on how to maintain safety and security for your children online. We found the following article to be useful <br />
                http://www.nationalcac.org/prevention/internet-safety-kids.html
            </p>
            <p>Thank you for reading, and if you have any further questions, please feel free to Contact us for more information.</p>
        </div>
    </body>
</html>
