{% load static %}

<aside class="sidebar bg-light">
    <div class="tab-content h-100" role="tablist">
        <!-- Chats -->
        <div class="tab-pane fade h-100 show active" id="tab-content-chats" role="tabpanel">
            <div class="d-flex flex-column h-100 position-relative">
                <div class="hide-scrollbar">
                    <div class="container py-8">
                        <!-- Title -->
                        <div class="mb-8">
                            <h2 class="fw-bold m-0">Direct Message</h2>
                        </div>

                        <!-- Search -->
                        <div class="mb-6">
                            <form action="#">
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <div class="icon icon-lg">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="feather feather-search"
                                            >
                                                <circle cx="11" cy="11" r="8"></circle>
                                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                            </svg>
                                        </div>
                                    </div>

                                    <input type="text" class="form-control form-control-lg ps-0" placeholder="Search messages or users" aria-label="Search for messages or users..." />
                                </div>
                            </form>
                        </div>

                        <!-- Chats -->
                        <div class="card-list">
                            <!-- Card -->
                            {% for chatroom in room %}
                                <a href="{% url 'chatroom:custom_room' chatroom.pk %}" class="card border-0 text-reset" {% if chatroom.pk == obj.pk %}style="background-color: #8bd3ff"{% endif %}>
                                    <div class="card-body">
                                        <div class="row align-items-center gx-4">
                                            <div class="col-auto">
                                                <div class="avatar avatar-xs">
                                                    <img class="avatar-img" src="{% static 'assets/img/avatars/bootstrap.svg' %}" alt="Bootstrap Community" />
                                                </div>
                                            </div>

                                            <div class="col">
                                                <h6 class="mb-0">{{ chatroom.room.name }}</h6>
                                            </div>

                                            <div class="col-auto">
                                                <b>{{ chatroom.room.current_users }} / {{ chatroom.room.max_user }}</b>
                                            </div>
                                        </div>
                                        <!-- .row -->
                                    </div>
                                    <!-- .card-footer -->
                                </a>
                            {% endfor %}
                            <!-- Card -->

                        </div>
                        <!-- Chats -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>