<!DOCTYPE html>
<html lang="en">
   {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>WannaChat</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link href="{% static 'home/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" style="background: #86efac;">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">WannaChat</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">New York</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">MNH</a></li>
                                <li><a class="dropdown-item" href="#!">BRK</a></li>
                                <li><a class="dropdown-item" href="#!">QUE</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav ">
                       <li class="nav-item text-right"><a class="nav-link active text-right" aria-current="page" href="">{{ request.user.email }}</a></li>
                    </ul>
                    <div class="d-flex">
                        {% if request.user.is_authenticated %}
                           <a href="{% url 'customauth:user_logout' %}" class="button">Logout</a>
                        {% else %}
                           <a href="{% url 'customauth:user_signup' %}" class="button">Register</a>
                           <a href="{% url 'customauth:user_login' %}" class="button">Login</a>
                        {% endif %}
                        <select class="language">
                            <option selected>EN</option>
                            <option value="1">ESP</option>
                            <option value="2">DE</option>
                            <option value="3">RU</option>
                        </select>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Section-->
        <section class="py-4">
            <div class="container px-4 px-lg-5">
                <div class="row justify-content-center">
                    <!-- section 1 -->
                    <div class="col-md-2 text-center">
                        <div class="card h-100">
                            <div class="card-body" style="background: #f0fdf4;">
                                <ul class="py-3 ps-0">
                                    <li class="leftCard-search">
                                        <form action="" method="get">
                                            <input class="form-control me-2" type="search" name="search" placeholder="&#x1F50D Search" aria-label="Search" />
                                        </form>
                                    </li>
                                </ul>
                                <p>wanna join</p>
                                <p>wanna join</p>
                                <p>wanna join</p>
                                <p>wanna join</p>
                                <p>wanna join</p>
                                <p>wanna join</p>
                            </div>
                        </div>
                    </div>

                    <!-- section 2 -->
                    <div class="col-md-8">
                        <div class="row">
                           {% for category in category_list %}
                            <div class="col-md-4 mb-4 category-section">
                                <div class="category-card">
                                    <div class="card-header category-header">
                                        <b>{{ category.name }}</b>
                                    </div>
                                    <div class="card-body category-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {% for subcategory in category.sub_categories.all %}
                                                <li class="sub-category">
                                                    <a href="">{{ subcategory.name }}</a>
                                                </li>
                                                {% endfor %}
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-md-4 mb-4 category-section">
                                <div class="category-card">
                                    <div class="card-header category-header">
                                        <b>Category 1</b>
                                    </div>
                                    <div class="card-body category-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4 category-section">
                                <div class="category-card">
                                    <div class="card-header category-header">
                                        <b>Category 1</b>
                                    </div>
                                    <div class="card-body category-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4 category-section">
                                <div class="category-card">
                                    <div class="card-header category-header">
                                        <b>Category 1</b>
                                    </div>
                                    <div class="card-body category-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4 category-section">
                                <div class="category-card">
                                    <div class="card-header category-header">
                                        <b>Category 1</b>
                                    </div>
                                    <div class="card-body category-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4 category-section">
                                <div class="category-card">
                                    <div class="card-header category-header">
                                        <b>Category 1</b>
                                    </div>
                                    <div class="card-body category-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                                <li class="sub-category">
                                                    <a href="">Sub Category</a>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- section 3 -->
                    <div class="col-md-2 text-center">
                        <div class="card h-100" style="margin-left: -20px;">
                            <div class="card-header" style="background: #dcfce7;">
                                <b>Near by CF</b>
                            </div>
                            <div class="card-body" style="background: #f0fdf4;">
                                <p>wanna join</p>
                                <p>wanna join</p>
                                <p>wanna join</p>
                                <p>wanna join</p>
                                <p>wanna join</p>
                                <p>wanna join</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
